#detail{
    font-size:35px;
}
#detail img{
    width:900px;
    height:600px;
    margin:50px 200px 0px;
}
#detail p{
    margin:10px 280px;
}
#detail a{
    padding:10px;
    border:3px dashed orange;
    margin-left:200px;
    border-radius:10px;
}
#detail  p #price{
    margin-left:300px;
    color:blue;
}
#detail p em{
    color:red;
}