#header{
  height:80px;
}
#header img{
  height:80px;
}
#header ol{
  display: inline-block;
}
#header ol li{
  display:inline-block;
  line-height:80px;
  padding-left:80px;
  font-weight:bold;
}
#header p{
  float:right;
  line-height:80px;
  font-size:24px;
  color:#3f51b5;
}
#header p img{
  width:30px;
  height:30px;
}
#header p b{
  border-left:1px solid #666;
  padding-left:20px;
  margin-left:15px;
}

